body {
  height: 95vh;
  width: 95vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(52, 165, 52);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 35%;
}

h1 {
  font-size: 3.2rem;
  font-family: 'Roboto', sans-serif;
}